.horizontal-group {
  flex-direction: row;
  align-items: center;
}

.label {
  width: 100px;
  margin-right: 10px;
}

.float-field {
  width: 80px;
  margin-right: 10px;
}

.slider {
  flex-grow: 1;
}